# Local options

filters = "chartable,dkim,spf,surbl,regexp,milter_headers,fuzzy_check";

# consider enabling maillist
# consider enabling mime_types, phishing,

# investigate milter_headers
# they have a rbl module that appears more sophisticated than what
# postfix does.   It can also import spamassasin rules.

