# local.d/dkim_signing.conf

{% if dkim_selector_is_set %}
enabled=true

try_fallback = true;
path = "{{ mail_dkim_root }}/$domain.$selector.key";
selector = "{{ dkim_selector }}";
{% else %}
enabled=false
{% endif %}
