# use per user statistics.  This still uses sqlite for the storage.
# Should we switch it to redis?

{% if spam_per_user_bayes %}
# Needs to be called at local delivery, see settings.conf for
# discussion.
per_user = true;
{% endif %}

# defaults to sqlite
# backend = "redis";

