---
# Debian 10 versions
# dovecot       1:2.3.4.1

# Dovecot for local mail delivery and IMAP access.  Do not install the
# dovecot-pop3 package, because we will only use IMAP.

# Saw the following in /var/log, might be a leftover from the default
# install that had 143 enabled.  Only seems to show up once.  dovecot:
# master: Error: systemd listens on port 143, but it's not configured
# in Dovecot. Closing.

- name: dovecot and related packages present
  package:
    state: present
    name:
      - dovecot-core
      - dovecot-imapd
      - dovecot-lmtpd
      - dovecot-sqlite
      - dovecot-sieve    # spam filing and learning

#      - dovecot-managesieved   # managesieve server

# Do not start dovecot at boot, Wait until the encrypted spool is
# mounted.  Our "mailboot" script mounts and starts.  
#
- name: dovecot start at boot - {{ mail_services_bootstart }}
  service: name=dovecot enabled={{ mail_services_bootstart }}

- name: spool directories for mail domain are present
  file: state=directory path="{{ mail_spool_root }}/{{ item }}"
    owner=vmail group=vmail mode=0770
  with_items: "{{ mail_domains }}"

- name: dovecot etc files present
  template: src="dovecot/{{ item }}" dest="/etc/dovecot/{{ item }}"
    owner=root group=root mode=0644
  with_items:
    - dovecot.conf
    - dovecot-sql.conf.ext
  notify: restart dovecot

- name: dovecot conf.d files present
  template: src="dovecot/{{ item }}" dest="/etc/dovecot/conf.d/{{ item }}"
    owner=root group=root mode=0644
  with_items:
    - 10-auth.conf
    - 10-mail.conf
    - 10-master.conf
    - 10-ssl.conf
    - 15-lda.conf
    - 15-mailboxes.conf
    - 20-imap.conf
    - 20-lmtp.conf
    - 90-sieve.conf
    - auth-sql.conf.ext
  notify: restart dovecot


#------------------------------
# SIEVE
#
# We use vmail as default_internal_user, but if we switch back to
# dovecot probably need to change ownership of these so that dovecot
# can automatically compile them.
#
- name: sieve directories are present
  file: state=directory path="{{ mail_sieve_root }}/{{ item }}"
    owner=vmail group=vmail mode=0770
  with_items: "{{ mail_domains + ['after.d', 'before.d', 'global'] }}"

# sieve scripts are installed by rspamd
