---
# Debian 10 versions
# postfix       3.4.7

##
## VMAIL user/group and permissions
##
- name: group vmail present
  group: name=vmail state=present gid=5000

- name: user vmail present
  user: name=vmail group=vmail state=present uid=5000
    home={{mail_spool_root}} shell=/usr/sbin/nologin

# use mode=02775 to setgid
- name: mail spool directory and permissions 
  file: state=directory path={{mail_spool_root}} group=vmail mode=0775

# The queue directory must be present or else the chroot will not be
# populated.
- name: other mail directories and permissions
  file: state=directory path={{item}} mode=0755
  with_items:
    - "{{mail_queue_dir}}"
    - "{{mail_db_root}}"
    

# The virtual user database holds account details.  We use SQLite
# because this small, simple, and relatively static, but MySQL, Maria,
# or Postgres would also work.  I wrote the mailcfg perl script to
# manage the database.  It uses DBI and might just need minor changes
# to the connect statement and SQL for the other RDBs.
- name: postfix and related packages present
  package:
    state: present
    name:
      - postfix
      - postfix-sqlite
      - libdbi-perl
      - libdbd-sqlite3-perl

# Do not start postfix at boot, Wait until the encrypted spool is
# mounted.  Our "mailboot" script mounts and starts.  This should run
# "sudo update-rc.d postfix disable" and change the postfix links from
# rc3.d/ and rc5.d/S01postfix to the equivalent K links.
#
- name: postfix start at boot - {{mail_services_bootstart}}
  service: name=postfix enabled={{mail_services_bootstart}}

- name: postfix configuration present
  template: src="postfix/{{item}}" dest="{{mail_cfg_dir}}/{{item}}"
    owner=root group=root mode=0644
  with_items:
    - main.cf
    - master.cf
    - denied_recipients
    - sqlite-sender-login-maps.cf
    - sqlite-virtual-alias-maps.cf
    - sqlite-virtual-mailbox-domains.cf
    - sqlite-virtual-mailbox-maps.cf
  notify:
    - postmap files
    - restart postfix
  tags: dkim    # main.cf can change with dkim signing
  
- name: custom postfix queue and default needs cleanup
  stat: path={{mail_queue_default_dir}}
  register: test_dflt_queue
  when: mail_queue_dir != mail_queue_default_dir
  changed_when: test_dflt_queue.stat.exists and
        test_dflt_queue.stat.isdir
  notify:
    - restart postfix
    - restart dovecot
    - remove default postfix queue


#------------------------------
# Mail user database    
- name: mail account utilities present
  template: src=mailcfg.j2 dest={{mail_db_util}}
    owner=root group=root mode=0755

# Restore snapshot from existing machine if needed
- name: check for mail database backup
  become: False
  local_action:
    stat path="{{snapshot_dir}}/{{ mail_db_name }}"
  register: mail_db_backup

- name: restore mail database backup
  copy:
    src: "{{snapshot_dir}}/{{ mail_db_name }}"
    dest: "{{ mail_db }}"
    owner: root
    group: root
    mode: 0644
  when: mail_db_backup.stat.exists == true

    
# The database directory should have been created and encrypted by the
# encfs.yml playbook.
- name: mail account database present
  command: "{{ mail_db_util }} adddom {{ item }}"
  register: result
  changed_when: result.stdout != ""  
  with_items: "{{ mail_domains }}"

- name: mail users present
  command: "{{ mail_db_util }} adduser {{ item.email }} {{ item.pw }}"
  register: result
  changed_when: result.stdout != ""  
  with_items: "{{ mail_users }}"
  
- name: mail aliases present
  command: "{{ mail_db_util }} addalias {{ item.src }} {{ item.dst }}"
  register: result
  changed_when: result.stdout != ""  
  with_items: "{{ mail_admin_aliases + mail_aliases|default([]) }}"

# Use vmail group so that dovecot can also see it.
- name: mail database permissions set
  file: path={{mail_db}} owner=root group=vmail mode=0640

