[DEFAULT]
ignoreip  = 127.0.0.1 {{ ansible_default_ipv4.address }} {{ fail2ban_ignoreips|join(' ') }}
findtime  = {{ fail2ban_findtime }}
bantime   = {{ fail2ban_bantime }}
destemail = {{ admin_email }}
banaction = iptables-multiport
action    = %(action_)s
maxretry = 3

# JAILS
{% for i in fail2ban_jails_expanded %}
[{{ i.name }}]
enabled = true
{% for key, val in i|dictsort %}
{% if key != 'name' %}
{{ key }} = {{ val }}
{% endif %}
{% endfor %}

{% endfor %}
