[DEFAULT]
ignoreip  = 127.0.0.1 {{ ansible_default_ipv4.address }} {{ ' '.join(friendly_networks) }}
bantime   = 24h
destemail = {{ admin_email }}
banaction = iptables-multiport
action    = %(action_)s
maxretry = 3

# JAILS
[sshd]
enabled   = true
mode 	  = aggressive

[pam-generic]
enabled   = true
banaction = iptables-allports

[dovecot]
enabled = true

[postfix]
enabled  = true

[postfix-sasl]
enabled  = true

[apache-auth]
enabled = true

[apache-overflows]
enabled = true
