{# figure out he defaults in one place to make the body clearer -#}
{%- set fd = hostvars[item] -%}
{%- set fd_name = fd.bacula_client_name | default(fd.inventory_hostname_short + '-fd') -%}
{%- set fd_host = fd.bacula_client_host | default(fd.inventory_hostname) -%}
{%- set fd_pw = fd.bacula_client_pw | default(bacula_default_client_pw) -%}
{%- set fd_fdport = fd.bacula_client_fdport | default(bacula_default_client_fdport) -%}
{%- set fd_tunport = fd.bacula_tunnel_fdport | default(bacula_default_tunnel_fdport) -%}
{%- set fd_tunacct = fd.bacula_tunnel_acct | default(bacula_default_tunnel_acct) -%}
{%- set fd_tunkey = fd.bacula_tunnel_sshkeyname | default(bacula_default_tunnel_sshkeyname) -%}
{%- set fd_tunnel = fd.bacula_client_tunnel | default(bacula_default_client_tunnel) -%}
{%- set fd_tunnel_args = fd_tunacct+'@'+fd_host+' /etc/bacula/tunnel/'+fd_tunkey+' '+(fd_tunport|string) -%}

# CLOUD CLIENT: {{ fd.inventory_hostname_short }} ========================================
#
Client {
  Name = {{ fd_name }}
  Password = "{{ fd_pw }}"
{% if fd_tunnel %}
  Address=localhost
  FDPort={{fd_tunport}}
{% else %}
  Address={{fd_host}}
  FDPort={{fd_fdport}}
{% endif %}
  Catalog = MyCatalog
}

# Look at the Reschedule Interval to keep trying a job until it
# succeeds, like pinging a laptop until it shows up or bumblebee until
# it is turned on.

Job {
  Name = "{{fd.inventory_hostname_short}}"
  Type = Backup
  Client = {{ fd_name }}
  FileSet="CloudMail"
  Schedule = "MonthlyCycle"
  Storage = File
  Messages = Standard
  Max Full Interval = 1 month     # upgrade to full when older than a month
  Pool = Monthly
  Priority = 10
#  Write Bootstrap = "/home/backup/bacula/wdir/%c.bsr"
{% if fd_tunnel %}
  Run Before Job = "/etc/bacula/ssh-tunnel.sh {{fd_tunnel_args}}"
#  Run After Job = tunnel auto closes
{% endif %}
}

Job {
  Name = "restore-{{fd.inventory_hostname_short}}"
  Type = Restore
  Client = {{ fd_name }}
  FileSet="CloudMail"
  Where = /tmp/bacula-restores
  Messages = Standard
  Pool = Default
{% if fd_tunnel %}
  Run Before Job = "/etc/bacula/ssh-tunnel.sh {{fd_tunnel_args}}"
#  Run After Job = tunnel auto closes
{% endif %}
}

# List of files to be backed up
FileSet {
  Name = "CloudMail"
  Include {
    File = /etc/letsencrypt
    File = /var/private
    File = /var/spool/postfix/etc/maildb/maildb.sqlite3
    File = /var/vmail
    File = /var/www
    Options {signature=SHA1}
  }
  Exclude {
    File = /var/private/mounted.txt
    File = /var/vmail/mounted.txt
  }
}
