# ----------------------------------------------------------------------
# | Cache expiration                                                   |
# ----------------------------------------------------------------------

# Control how long clients should reuse resources.  Note that
# ExpiresByType appears to override ExpiresDefault, so it prevents you
# from giving a custom expires for particular files in the site config.
#
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control
# https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Expires
# https://httpd.apache.org/docs/current/mod/mod_expires.html

# apache_cache_long:   "access plus 1 month"
# apache_cache_med:    "access plus 1 week"
# apache_cache_short:  "access plus 1 day"
# apache_cache_visit:  "access plus 1 hour"
# apache_cache_none:   "access plus 0 seconds"

<IfModule mod_expires.c>

    # defaults for image files, javascript, and anything else.
    ExpiresActive on
    ExpiresDefault				"{{ apache_cache_long }}"

    # Do not cache html, cache CSS for a day or so.  Both of these
    # tend to be small and we may adjust them from time to time.
    ExpiresByType text/html			"{{ apache_cache_none }}"
    ExpiresByType text/css			"{{ apache_cache_short }}"

    # Data interchange

    ExpiresByType application/atom+xml		"{{ apache_cache_visit }}"
    ExpiresByType application/rdf+xml		"{{ apache_cache_visit }}"
    ExpiresByType application/rss+xml		"{{ apache_cache_visit }}"

    ExpiresByType application/json		"{{ apache_cache_none }}"
    ExpiresByType application/ld+json		"{{ apache_cache_none }}"
    ExpiresByType application/schema+json	"{{ apache_cache_none }}"
    ExpiresByType application/geo+json 		"{{ apache_cache_none }}"
    ExpiresByType application/xml 		"{{ apache_cache_none }}"
    ExpiresByType text/calendar			"{{ apache_cache_none }}"
    ExpiresByType text/xml			"{{ apache_cache_none }}"

    # Manifest files
    ExpiresByType application/manifest+json            "{{ apache_cache_med }}"
    ExpiresByType application/x-web-app-manifest+json  "{{ apache_cache_none }}"
    ExpiresByType text/cache-manifest 		       "{{ apache_cache_none }}"

    # Other
    ExpiresByType text/x-cross-domain-policy	"{{ apache_cache_med }}"

</IfModule>
