<IfModule mod_ssl.c>
   <VirtualHost *:443>
      ServerName {{ host.name }}
{% for alias in host.aliases %}
      ServerAlias {{ alias }}
{% endfor %}

      ServerAdmin {{ host.admin | default(host_dflt.admin) }}
      DocumentRoot {{ host.root | default(host_dflt.root) }}

      ErrorLog ${APACHE_LOG_DIR}/{{host.name | replace('.', '_')}}_error.log
      CustomLog ${APACHE_LOG_DIR}/{{host.name | replace('.', '_')}}_access.log combined

      SSLCertificateFile /etc/letsencrypt/live/{{host.name}}/cert.pem
      SSLCertificateKeyFile /etc/letsencrypt/live/{{host.name}}/privkey.pem
      Include /etc/letsencrypt/options-ssl-apache.conf
      SSLCertificateChainFile /etc/letsencrypt/live/{{host.name}}/chain.pem

      #   SSL Engine Options:
      #   o StdEnvVars:
      #	 This exports the standard SSL/TLS related `SSL_*' environment variables.
      #	 Per default this exportation is switched off for performance reasons,
      #	 because the extraction step is an expensive operation and is usually
      #	 useless for serving static content. So one usually enables the
      #	 exportation for CGI and SSI requests only.
      #   o OptRenegotiate:
      #	 This enables optimized SSL connection renegotiation handling when SSL
      #	 directives are used in per-directory context.
      #SSLOptions +FakeBasicAuth +ExportCertData +StrictRequire
      <FilesMatch "\.(cgi|shtml|phtml|php)$">
         SSLOptions +StdEnvVars
      </FilesMatch>
      <Directory /usr/lib/cgi-bin>
         SSLOptions +StdEnvVars
      </Directory>

   </VirtualHost>
</IfModule>
