#
# Bacula File Daemon Configuration
#
{% for dir in groups['backup-server'] %}
Director {
  Name = {{ hostvars[dir].bacula_director_name | default(dir + '-dir') }}
  Password = "{{ bacula_client_director_pw }}"
}
{% endfor %}

# Restricted Director, used by tray-monitor to get file daemon status
#Director {
#  Name = bacula-mon
#  Password = "foobar"
#  Monitor = yes
#}

#
# "Global" File daemon configuration specifications
#
FileDaemon {
  Name = {{ bacula_client_name }}
  FD Port = {{ bacula_client_fdport }}
  Working Directory = {{ bacula_client_workdir }}
  Pid Directory = {{ bacula_client_piddir }}
  Maximum Concurrent Jobs = {{ bacula_client_max_jobs }}
}

# All messages except skipped files back to primary director
{% for dir in ([groups['backup-server'].0]) %}
Messages {
  Name = Standard
  director = {{ hostvars[dir].bacula_director_name | default(dir + '-dir') }} = all, !skipped, !restored
}
{% endfor %}

