{%- set dir_names=[] -%}
{%- for i in groups['backup_server'] -%}
{{- dir_names.append(
    hostvars[i].bacula_director_name | default(
    hostvars[i].inventory_hostname_short + '-dir')) -}}
{%- endfor -%}
{%- if dir_names|length == 0 -%}
{{- dir_names.append('missing-dir') -}}
{%- endif -%}
#
# Bacula File Daemon Configuration
#
{% for dir_name in dir_names %}
Director {
  Name = {{ dir_name }}
  Password = "{{ bacula_client_pw }}"
}
{% endfor %}

#
# "Global" File daemon configuration specifications
#
FileDaemon {
  Name = {{ bacula_client_name }}
{% if bacula_client_tunnel %}
  FDAddress=127.0.0.1
{% endif %}
  FDPort = {{ bacula_client_fdport }}
  Working Directory = {{ bacula_client_workdir }}
  Pid Directory = {{ bacula_client_piddir }}
  Maximum Concurrent Jobs = {{ bacula_client_max_jobs }}
}

# All messages except skipped files back to primary director
{% for dir_name in [dir_names.0] %}
Messages {
  Name = Standard
  director = {{ dir_name }} = all, !skipped, !restored
}
{% endfor %}

