---
# Debian 10 versions
# iptables-persistent   1.0.11
# iptables              1.8.2
# fail2ban              0.10.2
#
# netfilter-persistent?
# iproute2 has the new ss command
# net-tools has the legacy commands including netstat

- name: network filtering packages are installed
  package:
    state: present
    name:
      - iptables-persistent
      - ipset-persistent
      - fail2ban
      - net-tools

- debug:
    msg:
      - OPEN TCP PORTS {{ firewall_ports_tcp }}
      - OPEN UDP PORTS {{ firewall_ports_udp }}
      
- name: iptables v4 rules
  template:
    src: rules.v4.j2
    dest: /etc/iptables/rules.v4
    owner: root
    group: root
    mode: 0644
  when: ansible_default_ipv4.interface is defined
  notify:
    - reload iptables v4 rules

- name: iptables v6 rules
  template:
    src: rules.v6.j2
    dest: /etc/iptables/rules.v6
    owner: root
    group: root
    mode: 0644
  when: ansible_default_ipv6.interface is defined
  notify:
    - reload iptables v6 rules

# ipset destroy
# ipset flush
# ipset restore -file foobar 
    
- name: iptables services enabled
  service: name=netfilter-persistent state=started enabled=yes


# Assume we will have ssh, apache, postfix, and dovecot and enable the
# jails for them.  If we do not use some of those, perhaps we can play
# some tag and template games to selectively enable parts.
# 
- name: fail2ban jails configured
  template:
    src: jail.local.j2
    dest: /etc/fail2ban/jail.local
    owner: root
    group: root
    mode: 0644
  notify:
    - restart fail2ban

- name: fail2ban service enabled
  service: name=fail2ban state=started enabled=yes

