---
# On Debian 10
# logwatch  7.5.0

- name: logwatch packages are installed
  package:
    state: present
    name: ntp

# install some custom configs so that it recognizes where we put
# everything and in particular, the dateext log rotation.
- name: logwatch logfile configs are installed
  copy: src=logwatch/log-{{ item }}
    dest=/etc/logwatch/conf/logfiles/{{ item }}
    owner=root group=root mode=0644
  with_items:
    - daemon.conf
    - fail2ban.conf
    - http.conf
    - http-error.conf
    - kernel.conf
    - maillog.conf
    - secure.conf
    - syslog.conf

# Install newer patched 7.5.2 scripts to fix broken sieve parsing
- name: logwatch updated service scripts are installed
  copy: src=logwatch/scripts-{{ item }}
    dest=/etc/logwatch/scripts/services/{{ item }}
    owner=root group=root mode=0755
  with_items:
    - dovecot
    - secure

# scripts / services / secure does not match a username with a dash
#   } elsif ($ThisLine =~ /systemd-logind(?:\[\d+\])?: New session \d+ of user (\w+)\./){

# **Unmatched Entries**
#    systemd-logind: New session 456 of user bacula-tun.: 1 Time(s)
 
