---
- { import_tasks: hostname.yml,         tags: hostname }
- { import_tasks: locale.yml,           tags: locale }
- { import_tasks: firewall.yml,         tags: firewall }
- { import_tasks: ntp.yml,              tags: ntp }
- { import_tasks: upgrades.yml,         tags: unattended-upgrades }
- { import_tasks: logrotate.yml,        tags: logrotate }
- { import_tasks: editor.yml,           tags: editor }
- { import_tasks: fileutils.yml,        tags: fileutils }

# Only install if we specifically request it for a machine
- { include_tasks: logwatch.yml,        when: use_logwatch }
- { include_tasks: smartctl.yml,        when: use_smartctl }


# Can add alias to root .bashrc
# alias fail2ban-all="fail2ban-client status | sed -n 's/,//g;s/.*Jail list://p' | xargs -n1 fail2ban-client status"

# Add bash completion too.
#  if [ -f /usr/share/bash-completion/bash_completion ]; then
#    . /usr/share/bash-completion/bash_completion
#  elif [ -f /etc/bash_completion ]; then
#    . /etc/bash_completion


# Preserve ssh host keys to avoid churning everyones known_hosts.
# The snapshot data is used by the first.yml SSH setup, not by any
# Of the tasks in this common role.
#
# The when rule is needed to restrict to only these explicit tags,
# otherwise it fires on any inherited tags (like 'mail') too.
#
# Unfortunately, the combo of tag/never+when always prints skipped,
# unlike tag/never which is silent unless it fires.  We load this
# dynamically so it just prints skipped for the include_tasks action
# rather than skipped for each task within an import_tasks.
- name: create snapshot of ssh host keys
  include_tasks: snapshot.yml
  when: ansible_run_tags | intersect(['snapshot']) | length
  tags: [never, snapshot]
