#!/bin/sh
# 
# Postfix is not started automatically at boot because the encrypted
# spool must first be mounted manually.  Log in and run this script to
# decrypt the mail spool and start postfix.

# Debian 10 has finished merging /bin and /usr/bin
PATH=/usr/sbin:/usr/bin:/sbin:/bin

{% if cryptdir_type == 'luks' %}
# Open the encrypted block device
if dmsetup status /dev/mapper/{{ cryptdir_luks_mapname }}; then
    echo "cryptdir: encrypted device is opened"
else
    echo "cryptdir: opening encrypted device"
    cryptsetup luksOpen {{cryptdir_luks_dev}} {{cryptdir_luks_mapname}}
fi
# Mount the filesystem from the cleartext block device
if /bin/mountpoint -q {{cryptdir_root}}; then
    echo "cryptdir: encrypted data is mounted"
else
    echo "cryptdir: mounting the mail vault"
    mount {{ cryptdir_root }}
fi
{% elif cryptdir_type == 'encfs' %}
if /bin/mountpoint -q {{cryptdir_root}}; then
    echo "cryptdir: encrypted data is mounted"
else
    echo "cryptdir: mounting encrypted data"
    encfs {{ cryptdir_encfs_dir }} {{ cryptdir_root }} --public
fi
{% elif cryptdir_type == 'gocryptfs' %}
if /bin/mountpoint -q {{cryptdir_root}}; then
    echo "cryptdir: encrypted data is mounted"
else
    echo "cryptdir: mounting encrypted data"
    gocryptfs {{ cryptdir_encfs_dir }} {{ cryptdir_root }}
fi
{% else %}
# no encryption used for mail vault
{% endif %}

# start dependent services
echo "cryptdir: starting dependent services"
{% for svc in cryptdir_boot_services|default([]) %}
/usr/sbin/service {{svc}} start
{% endfor %}
