#!/bin/bash

{% if certbot_open_firewall %}
iptables -A INPUT -i {{ ansible_default_ipv4.interface }} -p tcp -m multiport --dport 80,443 -m conntrack --ctstate NEW -j ACCEPT
{% endif %}
{% for n in certbot_service_stop %}
service {{n}} stop
{% endfor %}
{% for n in certbot_command_pre %}
{{n}}
{% endfor %}
