{% if use_journalctl %}
# combined query for all mail things on journald system, effectively
# what would be in mail.log
LogFile =
LogFile = /dev/null

*JournalCtl = "--no-pager -u dovecot -u postfix@-"
*ApplyStdDate
{% else %}
# builtin config assumes num, add dateext rotation
LogFile =
LogFile = mail.log
LogFile = mail.log.1
LogFile = mail.log-*

Archive =
Archive = mail.log.*.gz
Archive = mail.log-*.gz
{% endif %}
