
# builtin config assumes num, add dateext rotation
LogFile =
LogFile = apache2/*error.log
LogFile = apache2/*error.log.1
LogFile = apache2/*error.log-*

Archive =
Archive = apache2/*error.log.*.gz
Archive = apache2/*error.log-*.gz
