{% if use_journalctl %}
# SSH on journald system
# 2025-06-04 - Removed *ApplyStdDate
LogFile =
LogFile = none

*JournalCtl = "--no-pager -u ssh"
*RemoveHeaders
{% else %}
# traditional, no change
{% endif %}
