{% if use_journalctl %}
# sudo on journald system
# 2025-06-04 - Removed *ApplyStdDate
LogFile =
LogFile = none

*JournalCtl = "--no-pager /usr/bin/sudo"
*RemoveHeaders
{% else %}
# traditional, no change
{% endif %}


